@model ProductForm.Models.Entity.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Product/edit" method="post">
    Id: <input type="number" name="Id" class="form-control" value=@Model.Id readonly>
    Name: <input type="text" name="Name" class="form-control" value=@Model.Name>
    Price: <input type="number" name="Price" class="form-control" value=@Model.Price>
    Quantity:<input type="number" name="Quantity" class="form-control" value=@Model.Quantity>
    Description:<input type="text" name="Description" class="form-control" value=@Model.Description>
    <br />
    <input type="submit" value="Edit" class="btn btn-primary">
</form>
