
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>


<table class="table table-bordered">
    <tr>
        <td>Degree</td>
        <td>Institution</td>
        <td>Group</td>
        <td>Year of Passing</td>
        <td>Result</td>
        <td>Board</td>
    </tr>

    <tr>
        <td>HSC</td>
        <td>Govt. Mohammadpur Model School & College</td>
        <td>Science</td>
        <td>2018</td>
        <td>GPA-5</td>
        <td>Dhaka</td>
    </tr>

    <tr>
        <td>SSC</td>
        <td>Mohammadpur Govt. High School</td>
        <td>Science</td>
        <td>2016</td>
        <td>GPA-5</td>
        <td>Dhaka</td>
    </tr>

</table>