
@{
    ViewBag.Title = "Personal_Info";
}

<h2>Personal Information</h2>

<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Tanvir Shahriar</td>

    </tr>

    <tr>
        <td>Age</td>
        <td>22</td>

    </tr>

    <tr>
        <td>Gender</td>
        <td>Male</td>

    </tr>

    <tr>
        <td>Occupation</td>
        <td>Student</td>

    </tr>

    <tr>
        <td>Religion</td>
        <td>Muslim</td>

    </tr>

</table>

