
@{
    ViewBag.Title = "Projects";
}

<h2>My Projects</h2>



<table class="table table-bordered">
    <tr>
        <td>Tours and Travels (React) <a href="https://github.com/Nobobi-Hasan/APWT-Final-Project">Click here to open</a></td>

    </tr>

    <tr>
        <td>Tours and Travels (Laravel) <a href="https://drive.google.com/file/d/15pb87PPIR3LotnZJab4a1_TG9ENJW9je/view?usp=sharing">Click here to open</a></td>
    </tr>

    <tr>
        <td>Ketabkhana (PHP) <a href="https://drive.google.com/file/d/1ayOK7Cv2IVfBYt8X0Rh7D-ThlO0rJtQw/view?usp=sharing">Click here to open</a></td>
    </tr>

    <tr>
        <td>Super Shop Management (C#)</td>
    </tr>

    <tr>
        <td>DX Ball Game (Computer Graphics)</td>
    </tr>



</table>

