
@{
    ViewBag.Title = "Projects";
}

<h2>My Projects</h2>



<table class="table table-bordered">
    <tr>
        <td>Ship Booking <a href="https://github.com/rifatiyaan/cruiseQueen">Click here to open</a></td>

    </tr>

    <tr>
        <td>Tours and Travels (Javascript) <a href="https://drive.google.com/file/d/15pb87PPIR3LotnZJab4a1_TG9ENJW9je/view?usp=sharing">Click here to open</a></td>
    </tr>

    <tr>
        <td>Hungry Monster (API) <a href="https://github.com/rifatiyaan/hungryMonster">Click here to open</a></td>
    </tr>

    <tr>
        <td>Housing Management (C# Desktop Application)</td>
    </tr>

  



</table>

